.carta{
    border: 2px white solid;
    width: 300px;
    min-height: 200px;
    height: auto;
    margin: 2rem;
    padding: 0.8rem;
}
.carta >h3{
    border-bottom: 2px white solid;
}

.carta > img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px white solid;
}
.carta >p{
    text-align: justify;
}