.container-1{
    position: relative;
}
.imagen-1{
    width: 100%;
    height: 753px;
    display: block;
}

.texto-1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
}
.texto-1 > h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#6E6563;    
}
.texto-1 > h3{
    color: #494848;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #263033;
    color: #e3f2fd;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5rem;
}

.foot-info{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:stretch;
}

.nosotros{
    display: flex;
    flex-direction: column;
}

.nosotros-2{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-left: 20rem;
    margin-right: 20rem;
    align-items: center;
    justify-content: center;
}
.imagen-2{
    margin-left: 5rem;
    margin-top: 7rem;
    width: 0%;
    height: 70%;
    flex: 1;
    border-radius: 20px;
}
.nosotros-titulo{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}
.nosotros-3{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items : center;
    justify-content: center;
}

.nosotros-3 >p{
    padding-left: 30px;
}

.mas-informacion{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    background-color: darkorange;
    font-family: "Courier New", monospace;
    border: 5px;
}
.mas-informacion:hover{
    background-color: rgb(255, 179, 86);
    transition: 0.2s ease;
}




