.cartas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#carta-boton{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100px;
    height: 30px;
}